@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{margin: 0;padding: 0; box-sizing: border-box;}
body{display: flex; justify-content: center; align-items: center;font-family: 'Poppins', sans-serif; height: 100vh;background-image: url('https://source.unsplash.com/1600x900/?landscape');}
.container{
    background-color: #f3f4ed; 
    border-radius: 20px; min-height: 400px;
    max-width: 240px; width: 100%;
    display: flex;  align-items: center;
    flex-direction: column; 
    padding: 10px 0;
    visibility: visible;
}
.search{
    width: 100%;
    display: flex;  align-items: center;
    margin-bottom: 10px;
}
.city{
    margin-bottom: 20px; visibility: visible;
}
.city .name,
.city .country{
    font-size: 15px; font-weight: 300;
    
}
.search .search-bar{
    border:0; padding: 5px 10px; border-radius: 10px;
    font-size: 13px; margin-left: 15px; color:#111;;
    outline: 0;
}
.search button{
    width: 25px; height: 25px; border-radius: 50%;
    border:0; background:#fff; margin-left: 7px;
    cursor: pointer; outline: 0; 
}
.search button i{
    font-size: 18px;
}
.search button:hover i{
    color:#7c7c7c3b;
}
.weather{
    text-align: center;
}

.weather .icon{
   width: 70px; height: 70px;
}
.weather .temp{
    font-size: 40px; font-weight: 300;letter-spacing: 1px;margin-bottom: 10px;
}
.weather .description{
    font-size: 16px;
    margin-bottom: 20px;
}
.weather .wind,
.weather .humidity{
   font-size: 12px; 
}
span{
    font-size: 10px; margin-top: 60px;
}
.weather.loading

{
    visibility: hidden;
    position: relative;
}
.weather.loading:after{
    visibility: visible; content:"Loading..."; 
    color: #111; position: absolute; top:180px; right:0px;
}
.city.on{
    visibility: hidden;
}



